@import '@solana/wallet-adapter-react-ui/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 0, 209, 140;  /* RGB values for #00D18C */
  --color-red-500: 239, 68, 68;  /* RGB values for red-500 */
}

/* Estilos globales de Tribeca */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-reach-dialog-overlay] {
  z-index: 999 !important;
}

[data-reach-dialog-content] {
  width: 100vw !important;
}

html,
body {
  min-height: 100%; /* Cambiado de height a min-height */
  width: 100%;
}

body {
  font-family: sans-serif;
  background: linear-gradient(to bottom, #000000, #394e6c); /* Degradado */
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #1f2937; /* text-gray-800 */
}

/* Dark mode */
.dark body {
  background: linear-gradient(to bottom, #181818, #394e6c); /* Degradado oscuro */
  color: #d1d5db; /* text-gray-300 */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Solana wallet adapter style overrides */
.wallet-adapter-button {
  background-color: transparent !important;
  color: white !important;
  font-weight: normal !important;
  font-size: 14px !important;
  height: 32px !important;
  border: 1px solid white !important;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) !important;
  transition: all 0.2s ease !important;
}

.wallet-adapter-button-trigger {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white !important;
  font-weight: normal !important;
  font-size: 14px !important;
  height: 32px !important;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) !important;
  transition: all 0.2s ease !important;
}

.wallet-adapter-button-trigger:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5) !important;
}
